/* DEFAULTS
----------------------------------------------------------*/

/*
    Gris oscuro #999;
    Gris claro #ccc;
    Azul oscuro #172E55;
    Rojo oscuro #A20000;
*/

html {
	background-color: #172E55;
	/*width: 780px;*/    
	margin: 0 auto;
	padding: 0;
}

body   
{
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    width: auto;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
    text-align: justify;
	
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #A20000;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 10px;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 0px auto 20px auto;
    /*border: 1px solid #496077;*/
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e url('../Images/logoTECBLANCO.png') no-repeat 5% 10%;
    background-size: 270px 50px;
    width: 100%;
    height: 200px;
}

.header h1
{
    width: 100%;
    font-weight: 700;
    margin: 0px;
    color: #ccc;
    text-shadow: -1px -1px #000;
    border: none;
    line-height: 2em;
    font-size: 4em;
    margin-bottom: -20px;
}

.title span {
    color: #ccc;
    font-size: 1.2em;
}

.title
{
    clear: both;
    float: center;
    display: block;
    text-align: center;
    vertical-align: center;
    width: 100%;
    /*padding-top: 30px;*/
    min-height: 100%;
}

.loginDisplay
{
    display: block;
    float: right;
    font-size: 1.1em;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}


.main
{
    padding: 0px 12px;
    margin: 20px 20px 20px 20px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    background-color: #e2e2e2;
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    /*margin: 0px auto;*/
    height: 30px;
    margin: 0px auto 20px auto;
    text-align: center;
    line-height: normal;
    display: block;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    /*background-color: #999;*/
    width:100%;
    /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #999999));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #999999 100%);
	/*-----------------------------*/
}

div.menu
{
    padding-left: 10px;
    /*padding: 4px 0px 4px 8px;*/
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    /*background-color: #999;*/
    /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #999999));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #999999 100%);
	/*-----------------------------*/
    /*border: 1px #4e667d solid;*/
    color: #172E55;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    height: 100%;
}

div.menu ul li a:hover
{
    /*background-color: #ccc;*/
    color: #A20000;
    margin-bottom: -1px;
    border-bottom: 1px solid #A20000;
    text-decoration: none;
    /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #999999 200%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #999999 200%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #999999 200%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(2, #999999));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #999999 200%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #999999 200%);
}

div.menu ul li a:active
{
    /*background-color: #999;*/
    /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #999999));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #999999 100%);
	/*-----------------------------*/
    color: #172E55;
    text-decoration: none;
}

/* ----------- ACORDION  ------------------*/

.accordionHeader {
	/*background-color: #999;*/
	border-radius: 5px;
	font-size: medium;
    /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #999999));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #999999 100%);
	/*-----------------------------*/
    color: #172E55;
    text-decoration: none;
}

.accordionHeader:active {
	/*background-color: #ccc;*/
    color: #A20000;
    text-decoration: none;
    /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #999999 200%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #999999 200%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #999999 200%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(2, #999999));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #999999 200%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #999999 200%);
}

/* ----------------------------------------------- */

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin-bottom: 10px;
    line-height: 1.6em;
    margin: 2px 12px 10px 10px;
    text-align: center;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}


fieldset.login p input[type='checkbox'] 
{
    clear: both;
    margin-top: 10px;
	border-radius: 5px;
    border: 1px solid #ccc;
    float: left;
}

fieldset label.inline 
{
    margin-top: -20px;
    display: inline;
    float: left;
	
}

fieldset legend 
{
    color: #172E55;
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

fieldset p input.textEntry,
fieldset p select,
fieldset p input[type='number'],
fieldset p input[type='text'],
fieldset p input[type='date'],
fieldset p input[type='password']
{
    border-radius: 5px;
    width: 200px;
    border: 1px solid #ccc;
    float: left;
}

fieldset p label {
	position: relative;
    clear: left;
    float: left;
    width: 50%;
    margin-right: 5px;
    text-align: right;
}

div.accountInfo
{
    width: 42%;
}

/*
    Gris oscuro #999;
    Gris claro #ccc;
    Azul oscuro #172E55;
    Rojo oscuro #A20000;
*/


/* TABLE  
----------------------------------------------------------*/
.tabla {
	margin: 50px auto 50px auto;
	width: 100%;
	border: 1px solid #172E55;
	border-radius: 5px;
}

.tabla tr, .tabla tr td {
	border: 1px solid #172E55;
}


/* MISC  
----------------------------------------------------------*/

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.center {
	margin: 0px auto;
	width: 100%;
	text-align: center;
}

.clear
{
    clear: both;
}

.failureNotification
{
    clear: both;
    font-size: 1.2em;
    color: Red;
    display: block;
}

.bold
{
    font-weight: bold;
}

.ModalPopupBG {
	height:100%;
    /*background-color:#EBEBEB;*/
    background-color: #999; 
    filter:alpha(opacity=70);
    opacity:0.7;
}
.modalInsider {
    background-color: #fff;
    padding: 20px;
}

.modalInsider input[type='image'] {
	float: right;
}

.PopupHeader {
    font-size: 1.5em;
    font-weight: 600;
	color: #172E55;
    padding-bottom: 10px;
    border-bottom: solid 2px #172E55;
}

.PopupBody {
    padding-top: 10px;
}

.submitButton
{
    display: block;
    clear: both;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding-right: 10px;
}

.submitInput 
{
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    color: #172E55;
	border: solid 1px #172E55;
	/*font: 16px #172E55;*/
	text-align: center;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #999999 200%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #999999 200%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #999999 200%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(2, #999999));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #999999 200%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #999999 200%);
}

.submitInput:active 
{
    color: #A20000;
	border: solid 1px #A20000;
    /*font: 2em #172E55;*/
	text-align: center;
	/*background-color: #999;*/
    /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #999999));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #999999 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #999999 100%);
	/*-----------------------------*/
}
