ITCR.InclusionesTec/ITCR.RestServiciosWebDatos/obj/Debug/ResolveAssemblyReference.cache
*.cache
ITCR.InclusionesTec/ITCR.RestServiciosWebDatos/obj/Debug/ResolveAssemblyReference.cache
ITCR.InclusionesTec/ITCR.InclusionesTec.Tests/obj/Debug/ResolveAssemblyReference.cache
*.dll
*.pdb
*.pdb