@{
    ViewBag.Title = "Inicio";
}

<hgroup class="title">
    <h1>Sistema Automatizado de Inclusiones</h1>
</hgroup>
<h3>Bienvenido/a</h3>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis a sapien vel cursus. Suspendisse diam justo, laoreet consequat volutpat ut, laoreet sed tellus. Vestibulum fermentum neque non justo ornare elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer vitae elit vitae felis posuere molestie. Aliquam vulputate sit amet lectus at cursus. Aliquam vehicula ipsum vel odio ultrices sagittis. Suspendisse scelerisque eros erat, sed sollicitudin nisi pretium nec. Aenean nec massa vulputate, sollicitudin velit ac, semper urna. Praesent non odio vel nulla vulputate hendrerit sed sit amet magna. Nunc vel ante risus. Nullam fermentum libero sit amet odio elementum dapibus. Ut et fringilla leo. Praesent congue ornare erat, non pellentesque tortor tempor et.
</p>