<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ITCR.RestServiciosWebDatos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <bindings />
    <client />
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    
    <services>
      <service name="ITCR.RestServiciosWebDatos.RestServicioEstudiante"
               behaviorConfiguration="ServiceBehavior" >
        <endpoint address="" binding="webHttpBinding"
                  contract="ITCR.RestServiciosWebDatos.IRestServicioEstudiante"
                  behaviorConfiguration="web" >
          
        </endpoint>
      </service>
    </services>
    
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
 <applicationSettings>
  <ITCR.RestServiciosWebDatos.Properties.Settings>
   <setting name="ITCR_RestServiciosWebDatos_wsDar_AdmisionyRegistro"
    serializeAs="String">
    <value>http://tec-develop.itcr.ac.cr/wsDAR/admisionyregistro.asmx</value>
   </setting>
  </ITCR.RestServiciosWebDatos.Properties.Settings>
 </applicationSettings>
</configuration>
