<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ITCR.MetodosAccesoDatos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Inclutec_BD" connectionString="Data Source=.\sqlexpress;Initial Catalog=Inclutec_BD;User Id=InclutecAdmin;Password=inclutec_proyecto"
            providerName="System.Data.SqlClient" />
        <add name="Inclutec_BDEntities" connectionString="metadata=res://*/InclutecModel.csdl|res://*/InclutecModel.ssdl|res://*/InclutecModel.msl;provider=System.Data.SqlClient;provider connection string='initial catalog=Inclutec_BD;user id=InclutecAdmin;password=inclutec_proyecto;multipleactiveresultsets=True;App=EntityFramework'"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
    <applicationSettings>
        <ITCR.MetodosAccesoDatos.Properties.Settings>
            <setting name="ITCR_MetodosAccesoDatos_wsDar_AdmisionyRegistro"
                serializeAs="String">
                <value>http://tec-develop.itcr.ac.cr/wsDAR/admisionyregistro.asmx</value>
            </setting>
        </ITCR.MetodosAccesoDatos.Properties.Settings>
    </applicationSettings>
</configuration>