@{
    ViewBag.Title = "Formulario";
}

<hgroup class="title">
    <h1>Sistema Automatizado de Inclusiones</h1>
</hgroup>

<section class="centered">
    <!-------------------Centrar y Dar Formato------------------------------>
    <h2>Formulario de Inclusión</h2>
    <form>
        <fieldset>
            <legend>Datos Personales</legend>
            <!--
                AUTOCOMPLETADOS DESDE BD Y DESHABILITADOS:
                    txtNombreEstudiante     txtCarnet       txtCarrera
                    txtSede     txtPlan     txtCitaMatricula
             -->
            <label for="txtNombreEstudiante">Nombre Completo:</label>
            <input type="text" id="txtNombreEstudiante" name="txtNombreEstudiante" value="ROJAS VALVERDE JUAN JOSE" disabled="true" />
            <label for="txtCarnet">Carnet:</label>
            <input type="text" id="txtCarnet" name="txtCarnet" value="200813008" disabled="true" />
            <label for="txtCarrera">Carrera:</label>
            <input type="text" id="txtCarrera" name="txtCarrera" value="INGENIERIA EN COMPUTACION" disabled="true" />
            <label for="txtSede">Sede:</label>
            <input type="text" id="txtSede" name="txtSede" value="CARTAGO" disabled="true"/>
            <label for="txtPlan">Plan:</label>
            <input type="text" id="txtPlan" name="txtPlan" value="409" disabled="true"/>
            <label for="txtCitaMatricula">Cita de Matr&iacute;cula:</label>
            <input type="text" id="txtCitaMatricula" name="txtCitaMatricula" value="08:00:00" disabled="true" />
            <label for=""></label>

            <b>Teléfono Domicilio: </b><input type="tel" name="T_Domicilio"><br/>
            <b>Teléfono Celular: &nbsp; &nbsp; </b><input type="tel" name="T_Celular"><br/>
            <b>Correo Electrónico: </b><input type="email" name="Email"><br/>
        </fieldset>
        <br>
        <section>
            <h3>Información del Curso</h3>
            <br>
            <input list="cursos" name="nom_curso">
            <datalist id="cursos">
              <option value="Inteligencia Artificial">
              <option value="Investigación de Operaciones">
              <option value="Bases de Datos I">
            </datalist>
            <input type="submit">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
            <b>Código de Curso: </b>IC-XXXX<br/>
            <h4>Grupos Disponibles:</h4>
            <ul id="sortable">
                @*<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
                <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>*@
            </ul>
        </section>
        <br>
        <section>
            <h3>Comentarios Adicionales</h3>
            <textarea rows="4" cols="100" name="Comentario" ></textarea><br/>
            <br/>
            <p>Doy fe que todo lo aquí ingresado es correcto y de detectarse alguna falsedad en esta solicitud doy permiso que no se realice ningún trámite a mi nombre este período.</p>
        </section>
        <br/>
        <!-------------------Centrar------------------------------>
        <input type="submit">
    </form>
</section>
