@{
    ViewBag.Title = "Formulario";
}

<hgroup class="title">
    <h1>Formulario de Inclusi&oacute;n</h1>
</hgroup>

<section class="centered">
    <!-------------------Centrar y Dar Formato------------------------------>
    <form id="frmSolicitud" name="frmSolicitud" action="" class="formulario center">
        <fieldset>
            <legend>Datos Personales</legend>
            <!--
                AUTOCOMPLETADOS DESDE BD Y DESHABILITADOS:
                    txtNombreEstudiante     txtCarnet       txtCarrera
                    txtSede     txtPlan     txtCitaMatricula
             -->
            <label for="txtNombreEstudiante">Nombre Completo:</label>
            <input type="text" id="txtNombreEstudiante" name="txtNombreEstudiante" value="ROJAS VALVERDE JUAN JOSE" disabled />
            <label for="txtCarnet">Carnet:</label>
            <input type="text" id="txtCarnet" name="txtCarnet" value="200813008" disabled />
            <label for="txtCarrera">Carrera:</label>
            <input type="text" id="txtCarrera" name="txtCarrera" value="INGENIERIA EN COMPUTACION" disabled />
            <label for="txtSede">Sede:</label>
            <input type="text" id="txtSede" name="txtSede" value="CARTAGO" disabled/>
            <label for="txtPlan">Plan:</label>
            <input type="text" id="txtPlan" name="txtPlan" value="409" disabled="true"/>
            <label for="txtCitaMatricula">Cita de Matr&iacute;cula:</label>
            <input type="text" id="txtCitaMatricula" name="txtCitaMatricula" value="08:00:00" disabled />
            <label for="txtTelefono">Teléfono Domicilio:</label>
            <input type="tel" id="txtTelefono" name="txtTelefono" value="22924768" />
            <label for="textCelular">Teléfono Celular:</label>
            <input type="tel" id="txtCelular" name="txtCelular" value="85032291" />
            <label for="txtCorreo">Correo Electrónico:</label>
            <input type="email" id="txtCorreo" name="txtCorreo" value="anairinac@gmail.com" />
        </fieldset>
        <fieldset>
            <legend>Curso</legend>
            <!-- Crear lista de cursos y crear variable que la contenga-->
            <div class="ui-widget">
                <label for="txtCursos" >Curso por solicitar:</label>
                <input type="text" id="txtCursos" name="txtCursos" class="autocomplete" />
            </div>
            <!-- Carga el codigo del curso seleccionado en txtCursos -->
            <input type="text" id="txtCodigoCurso" name="txtCodigoCurso" value="IC-6200" disabled/>

            <h4>Grupos disponibles:</h4>
            
            <table class="sortable"> 
                <tr>
                    <th>Grupo</th><th>Profesor</th><th>Horario</th><th>Sede</th>
                </tr>
                <tbody>
                    <tr> <td>01</td> <td>Jorge Vargas</td> <td>M V 7:30 - 9:20</td> <td>Cartago</td> </tr>
                    <tr> <td>01</td> <td>Jorge Vargas</td> <td>M V 7:30 - 9:20</td> <td>Cartago</td> </tr>
                    <tr> <td>01</td> <td>Jorge Vargas</td> <td>M V 7:30 - 9:20</td> <td>Cartago</td> </tr>
                </tbody>
                    
            </table>
        </fieldset>
        <fieldset>
            <legend>Cursos Matriculados</legend>
            <table> 
                    <tr>
                        <th>Grupo</th><th>Profesor</th><th>Horario</th><th>Sede</th>
                    </tr>
                    <tbody>
                        <tr> <td>01</td> <td>Jorge Vargas</td> <td>M V 7:30 - 9:20</td> <td>Cartago</td> </tr>
                        <tr> <td>01</td> <td>Jorge Vargas</td> <td>M V 7:30 - 9:20</td> <td>Cartago</td> </tr>
                        <tr> <td>01</td> <td>Jorge Vargas</td> <td>M V 7:30 - 9:20</td> <td>Cartago</td> </tr>
                    </tbody>
            </table>
        </fieldset>
        <fieldset>
            <legend>Comentario Adicional</legend>
            <!-- Agregar clase scrollable al css -->
            <textarea class="scrollable" id="txtComentario" name="txtComentario">
            </textarea>
        </fieldset>
        <p class="nota">Doy fe que todo lo aqu&iacute; ingresado es correcto y de detectarse alguna falsedad en esta solicitud doy permiso que no se realice ning&uacute;n tr&aacute;mite a mi nombre en este per&iacute;odo.</p>
  
        <!-------------------Centrar------------------------------>
        <input type="submit" id="sbmtEnviarSolicitud" name="sbmtEnviarSolicitud"  form="frmSolicitud" value="Enviar">
    </form>
</section>
