@{
    ViewBag.Title = "Formulario";
}

<hgroup class="title">
    <h1>Formulario de Inclusi&oacute;n</h1>
</hgroup>

<section class="centered">
    <!-------------------Centrar y Dar Formato------------------------------>
    <form id="frmSolicitud" name="frmSolicitud" action="" class="formulario center">
        <fieldset>
            <legend>Datos Personales</legend>
            <!--
                AUTOCOMPLETADOS DESDE BD Y DESHABILITADOS:
                    txtNombreEstudiante     txtCarnet       txtCarrera
                    txtSede     txtPlan     txtCitaMatricula
             -->

             <!--
             ROJAS VALVERDE JUAN JOSE
             200813008
             INGENIERIA EN COMPUTACION
             CARTAGO
             409
             08:00:00

             -->
            <label id="lblNombreEstudiante">Nombre Completo: ROJAS VALVERDE JUAN JOSE</label>
            <label id="lblCarnet">Carnet: 200813008</label>
            <label id="lblCarrera">Carrera: INGENIERIA EN COMPUTACION</label>
            <label id="lblSede">Sede: CARTAGO</label>
            <label id="lblPlan">Plan: 409</label>
            <label id="lblCitaMatricula">Cita de Matr&iacute;cula: 08:00:00</label>
            <div class="formItem">
                <label for="txtTelefono">Teléfono Domicilio:</label>
                <input type="tel" id="txtTelefono" name="txtTelefono" value="22924768" />
            </div>
            <div class="formItem">
                <label for="textCelular">Teléfono Celular:</label>
                <input type="tel" id="txtCelular" name="txtCelular" value="85032291" />
            </div>
            <div class="formItem">
                <label for="txtCorreo">Correo Electrónico:</label>
                <input type="email" id="txtCorreo" name="txtCorreo" value="anairinac@gmail.com" />
            </div>
            
        </fieldset>
        <fieldset>
            <legend>Curso</legend>
            <!-- Crear lista de cursos y crear variable que la contenga-->
            <div class="formItem2">
                <div class="ui-widget">
                    <label for="txtCursos" >Curso por solicitar:</label>
                    <input type="text" id="txtCursos" name="txtCursos" class="autocomplete" />
                </div>
                <!-- Carga el codigo del curso seleccionado en txtCursos -->
                <label id="lblCodigoCursoSeleccionado">C&oacute;digo: IC-6200</label>
            </div>

            <h4>Grupos disponibles:</h4>
            
            <table class="sortable"> 
                <tr>
                    <th>Grupo</th><th>Profesor</th><th>Horario</th><th>Sede</th>
                </tr>
                <tbody>
                    <tr> <td>01</td> <td>Jorge Vargas</td> <td>M V 7:30 - 9:20</td> <td>Cartago</td> </tr>
                    <tr> <td>01</td> <td>Jorge Vargas</td> <td>M V 7:30 - 9:20</td> <td>Cartago</td> </tr>
                    <tr> <td>01</td> <td>Jorge Vargas</td> <td>M V 7:30 - 9:20</td> <td>Cartago</td> </tr>
                </tbody>
                    
            </table>
        </fieldset>
        <fieldset>
            <legend>Cursos Matriculados</legend>
            <table> 
                    <tr>
                        <th>Grupo</th><th>Profesor</th><th>Horario</th><th>Sede</th>
                    </tr>
                    <tbody>
                        <tr> <td>01</td> <td>Jorge Vargas</td> <td>M V 7:30 - 9:20</td> <td>Cartago</td> </tr>
                        <tr> <td>01</td> <td>Jorge Vargas</td> <td>M V 7:30 - 9:20</td> <td>Cartago</td> </tr>
                        <tr> <td>01</td> <td>Jorge Vargas</td> <td>M V 7:30 - 9:20</td> <td>Cartago</td> </tr>
                    </tbody>
            </table>
        </fieldset>
        <fieldset>
            <legend>Comentario Adicional</legend>
            <!-- Agregar clase scrollable al css -->
            <textarea class="scrollable" id="txtComentario" name="txtComentario">
            </textarea>
        </fieldset>
        <p class="nota">Doy fe que todo lo aqu&iacute; ingresado es correcto y de detectarse alguna falsedad en esta solicitud doy permiso que no se realice ning&uacute;n tr&aacute;mite a mi nombre en este per&iacute;odo.</p>
  
        <!-------------------Centrar------------------------------>
        <input type="submit" id="sbmtEnviarSolicitud" name="sbmtEnviarSolicitud"  form="frmSolicitud" value="Enviar">
    </form>
</section>
