@{
    ViewBag.Title = "Inicio";
}

<hgroup class="title">
    <h1>Sistema Automatizado de Inclusiones</h1>
</hgroup>
<h3>Información Personal</h3>
<p>
    <b>Carnet: </b>[INGRESAR CARNET AQUI]<br>
    <b>Nombre Completo: </b>[INGRESAR NOMBRE AQUI]<br>
    <b>Carrera: </b>[INGRESAR CARRERA AQUI]<br>
    <b>Plan: </b>[INGRESAR PLAN AQUI]<br>
    <b>Sede: </b>[INGRESAR SEDE AQUI]<br>
    <b>Jornada: </b>[INGRESAR JORNADA AQUI]<br><br>
    <b>Correo Electrónico: </b><input type="email" name="Email value=""><br>
    <b>Teléfono Contacto:  </b><input type="tel" name="Phone" value=""><br>
    <input type="submit" value="Guardar Cambios">
</p>
