@{
    ViewBag.Title = "Inicio";
}

<hgroup class="title">
    <h1>Sistema Automatizado de Inclusiones</h1>
</hgroup>


<section class="center">
    <h3>Bienvenido(a)</h3>

    <!-------------------Centrar------------------------------>
    <div id="accordion">
        <h3>Aprobadas</h3>
        <div>
            
        </div>

        <h3>Pendientes</h3>
        <div>
            
        </div>
        
        <h3>Rechazadas</h3>
        <div>
            
        </div>
        
        <h3>Anuladas</h3>
        <div>
            
        </div>
    </div>
</section>
