@{
    ViewBag.Title = "Asignacion";
}

<hgroup class="title">
    <h1>Sistema Automatizado de Inclusiones</h1>
</hgroup>

<section class="centered">
    <!-------------------Centrar y Dar Formato------------------------------>
    <h2>Asignaci&oacute;n Autom&aacute;tica de Cupos</h2>
    <p>
        Para asignar autom&aacute;ticamente los cupos a grupos para los cuales fue solicitada la inclusi&oacute;n, ejecute el proceso core, que va aplicando las reglas definidas anteriormente.
    </p>
        <!-------------------Centrar------------------------------>
    <input id="botonAsignar" name="botonAsignar" type="submit" value="Asignar Cupos">
</section>
