@{
    ViewBag.Title = "Inicio";
}

<hgroup class="title">
    <h1>Sistema Automatizado de Inclusiones</h1>
</hgroup>


<section>
    <h3>Bienvenido(a)</h3>

    <!-------------------Centrar------------------------------>
    <div class="accordion">
        <h3>Avisos</h3>
        <div>
            
        </div>

        <h3>Excepciones</h3>
        <div>
        <p>Agregue las excepciones manualmente. Esta secci&oacute;n solo est&aacute; disponible mientras el proceso de
            asignaci&oacute;n autom&aacute;tica no haya sido ejecutado.</p>
            <div id="excepciones">
            <table>
            </table>
            <form id="frmNuevaExcepcion">
                <label>Seleccione el carnet del estudiante:</label>
                <label>Seleccione el c&oacute;digo del curso:</label>
                <label>Seleccione el n&uacute;mero del grupo:</label>
                <input type="submit" id="sbmtAgregarExcepcion" name="sbmtAgregarExcepcion" form="frmNuevaExcepcion" value="Agregar" />
            </form>
            </div>
        </div>
    </div>
</section>