@{
    ViewBag.Title = "Inicio";
}

<hgroup class="title">
    <h1>Sistema Automatizado de Inclusiones</h1>
</hgroup>

<section class="centered">
    <h3>Bienvenido(a) [INSERTAR NOMBRE AQUI]</h3>
    <div class="accordion">
        
    </div>
</section>

<center><select name="Avisos" size="11" style="width: 500px;">
       <optgroup label="Avisos"> 
       <option value="1">1. Aviso #1</option> 
       <option value="2">2. Aviso #2</option> 
       <option value="3">3. Aviso #3</option> 
   </optgroup> 
   <optgroup label="Excepciones"> 
       <option value="10">1. Excepción #1</option> 
       <option value="11">2. Excepción #2</option> 
       <option value="12">3. Excepción #3</option> 
   </optgroup> 
</select></center>