@{
    ViewBag.Title = "Reporte";
}

<hgroup class="title">
    <h1>Sistema Automatizado de Inclusiones</h1>
</hgroup>

<section class="centered">
    <!-------------------Centrar y Dar Formato------------------------------>
    <h2>Reporte de Registro</h2>
    <p>
        Para enviar los resultados del proceso de asignaci&oacute;n autom&aacute;tica de cupos al Departamento de Admisi&oacute;n y Registro, para que las inclusiones sean aplicadas correctamente, env&iacute;e el Reporte de Inclusiones haciendo click en el bot&oacute;n "Enviar reporte".
    </p>
        <!-------------------Centrar------------------------------>
    <input id="botonEnviarReporte" name="botonEnviarReporte" type="submit" value="Enviar Reporte">
</section>

